#app {
  max-width: 1000px;
  margin: 20px auto;
  padding: 30px;
  font-weight: normal;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 650px) {
  #app {
    padding: 15px;
  }
}

@media (max-width: 520px) {
  #app {
    padding: 5px;
  }
}
@media (max-width: 490px) {
  #app {
    padding: px;
  }
}
